* {
  color: #333;
}

.ju-markdown {

  /*h1*/
  &-h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #eaecef;
    margin: 0.67em 0;

    &:first-child{
      margin-top: 0;
    }
  }

  /*标记 `。。。`*/
  &-mark {
    background: #F9F2F4;
    color: #CB365B;
    padding: 0 .5em;
  }

  /*分割线 hr *** */
  &-hr {
    border: 1px dashed #ccc;
  }

  /*引用*/
  &-quote{
    border-left: 5px solid #A5C261;
    padding-left: 2em;
  }

  /*链接*/
  &-link{
    color: #6897BB;
  }

  &-code{
    background: #F7F7F9;
    &::before{
      display: block;
      background: #FBFBFC;
      content: attr(ref);
      color: #C1C1C8;
    }
  }
}